* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

td,
th {
    border: 1px solid black;
    min-width: 100px;
}

table {
    max-width: 800px;
    margin: 100px auto;
}

td {
    padding: 8px;
}

.pwd-row {
    /*background-color: #d9514eff;*/
}



